{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load static %}

{% block content %}

<div class="container-fluid"
    style="background-image: linear-gradient( rgba(80,34,123,0.8), rgba(80,34,123,0.8)), url('{% static 'images/brown-basketball-on-grey-floor.jpg' %}'); background-size:cover; color: #fff; height: 100vh; ">
        <div class="col-12 center">
        <h2 class="text-center" id="page-title">{{ page.title }}</h2>
        <p>
            {{ self.thank_you_text|richtext }}
        </p>
        </div>
<!-- </div> This div is closed out in base.html ( See Close container div) -->


{% endblock %}
