{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags %}

{% block content %}

    <style>
        .contact-form {
            list-style-type: none;
            padding-left: 0;
        }
        .contact-form li {
            margin-bottom: 1.5rem;
        }
        .contact-form label {
            display: block;
            font-weight: bold;
        }
        .contact-form .helptext {
            display: block;
            font-size: 80%;
        }    
        .contact-title  {
            text-align: left;
            margin-top:60px;
    
        }
    </style>

    <!-- <div class="container mt-5 mb-5"> -->
        <div class="container-fluid"
        style="background-image: linear-gradient( rgba(80,34,123,0.8), rgba(80,34,123,0.8)), url('{% static 'images/brown-basketball-on-grey-floor.jpg' %}'); background-size:cover; color: #fff; height: 100vh; ">
        <div class="col-12">
        <h1 class="contact-title">{{ page.title }}</h1>
        <p>
            {{ self.intro|richtext }}
        </p>

        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            <ul class="contact-form">
                {{ form.as_ul }}
            </ul>
            <button type="submit" class="btn btn-primary">Submit Form</button>
        </form>
    </div>
    <!-- </div> This div is closed out in base.html ( See Close container div) -->

{% endblock %}