{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/document.css' %}">
{% endblock %}

{% load wagtailcore_tags %}

{% block content %}

{% if self.document_page_title == "Documents and Forms" %}
<div class="container-fluid"
    style="background-image: linear-gradient( rgba(80,34,123,0.8), rgba(80,34,123,0.8)), url('{% static 'images/brown-basketball-on-grey-floor.jpg' %}'); background-size:cover; color: #fff; height: 100vh; ">

    
    <div class="col-12 center">
    <h2 class="text-center" id="page-title">{{self.document_page_title}}</h2>
    
    <h5 id="page-subtitle">{{ self.document_page_description|richtext }}</h5>

      {# Example of an Orderable from home/models.py #}
      
          <div class="document-inner">
              {% for document in self.related_documents.all %}
                  <div class="document-item{% if forloop.counter == 1 %} active{% endif %}">
                    <div class="container"> 
                        <h6><a href="{{ document.related_document.url }}" target="_blank">&nbsp;<i class="fas fa-file"></i>&nbsp;{{ document.related_document.title }}&nbsp;</h6></a>
                    </div>  
                  </div>
              {% endfor %}
          </div>
        </div>
    
    {% else %}    
    <!-- Display Photo Gallery from BG Suns Photos and Videos  -->
    <div class="container-fluid"
    style="background-image: linear-gradient( rgba(80,34,123,0.8), rgba(80,34,123,0.8)), url('{% static 'images/brown-basketball-on-grey-floor.jpg' %}'); background-size:cover; color: #fff; background-repeat: repeat; ">
    
    <div class="col-12 center">
    <h2 class="text-center" id="page-title">{{self.document_page_title}}</h2>

    <h5 id="page-subtitle">{{ self.document_page_description|richtext }}</h5>

    <div class="container testimonial-group">
        <div class="row text-center flex-nowrap popup">
            {% for document in self.related_documents.all %}
                <div class="col-sm-4"><img src="{{document.related_document.url}}" class="img-thumbnail" alt="{{ document.related_document.title }}" width="304" height="236"></div>
          {% endfor %}
        </div>
      </div>
    <!-- </div>   -->
    {% endif %}

    
    <div class="show">
        <div class="overlay"></div>
        <div class="img-show">
          <span>X</span>
          <img src="">
          <div id="caption"></div>
        </div>
      </div>

<!-- <div class="col-12"> -->
{% if self.video_channel_section_title %}                 
    <h2 class="text-center" id="page-title">{{self.video_channel_section_title}}</h2>
    
    <iframe src="http://rorywork.github.io/BGSuns-react-app/" width="1100" height="600"></iframe>
{% endif %}    

{% if self.video_link_section_title %}                 
    <h2 class="text-center" id="page-title">{{self.video_link_section_title}}</h2>
{% endif %}

{% for block in page.video_link_content %}
  {% include_block block %}
{% endfor %}

<!-- </div> This div is closed out in base.html ( See Close container div) -->

{% endblock %}

{% block extra_js %}
            
<script>
 $(function () {
    "use strict";
    //var captionText = document.getElementById("caption");
    
    $(".popup img").click(function () {
        var $src = $(this).attr("src");
        $(".show").fadeIn();
        $(".img-show img").attr("src", $src);
        $("#caption").text($(this).attr("alt"));
        
    });
    
    $("span, .overlay").click(function () {
        $(".show").fadeOut();
    });
    
});
</script>

{% endblock %}

