{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/galleryandpopup.css' %}">
{% endblock %}

{% load wagtailcore_tags %}

{% block content %}


<div class="container">

    {% if self.document_page_title == "Documents and Forms" %}
    
    <h2 class="text-center" id="page-title">{{self.document_page_title}}</h2>

    {{ self.document_page_description|richtext }}


      {# Example of an Orderable from home/models.py #}
      
          <div class="document-inner">
              {% for document in self.related_documents.all %}
                  <div class="document-item{% if forloop.counter == 1 %} active{% endif %}">
                    <div class="container"> 
                        <a href="{{ document.related_document.url }}" target="_blank">{{ document.related_document.title }}</a>
                    </div>  
                  </div>
              {% endfor %}
          </div>

    {% else %}    
    <!-- Display Photo Gallery from BG Suns Photos and Videos  -->

    <h2 class="text-center" id="page-title">{{self.document_page_title}}</h2>

    {{ self.document_page_description|richtext }}

    <div class="container testimonial-group">
        <div class="row text-center flex-nowrap popup">
            {% for document in self.related_documents.all %}
                <div class="col-sm-4"><img src="{{document.related_document.url}}" class="img-thumbnail" alt="{{ document.related_document.title }}" width="304" height="236"></div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <div class="show">
        <div class="overlay"></div>
        <div class="img-show">
          <span>X</span>
          <img src="">
          <div id="caption"></div>
        </div>
      </div>

{% if self.video_link_section_title %}                 
    <h2 class="text-center" id="page-title">{{self.video_link_section_title}}</h2>
{% endif %}    

</div> 

{% for block in page.video_link_content %}
    {% include_block block %}
{% endfor %}


{% endblock %}

{% block extra_js %}
            
<script>
 $(function () {
    "use strict";
    //var captionText = document.getElementById("caption");
    
    $(".popup img").click(function () {
        var $src = $(this).attr("src");
        $(".show").fadeIn();
        $(".img-show img").attr("src", $src);
        $("#caption").text($(this).attr("alt"));
        
    });
    
    $("span, .overlay").click(function () {
        $(".show").fadeOut();
    });
    
});
</script>

{% endblock %}

