{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bgsunscontent.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        
        <img id="bglogo" src="{% static 'images/club_logo2_transparent100x100.png' %}">
        <!-- <img src="{% static "my_app/example.jpg" %}" alt="My image"> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="/"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       </a>
          <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-target="#navbarColor01" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          
            <div class="collapse navbar-collapse bg-primary" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/player">Players</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/fixture">Fixtures</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/player/leaguestats">League Tracker</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/player/scorerstats">Top Scorers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/bg-suns-documents">Documents</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/bg-suns-match-videos">Videos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact-form">Contact us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact-form">Shop Now</a>
                </li>
                <div class="dropdown">
                  <button class="dropbtn">Dropdown 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="/contact-form">Link 1</a>
                    <a href="/contact-form">Link 2</a>
                    <a href="/contact-form">Link 3</a>
                  </div>
                </div> 
              </ul>
            </div>
          </nav>

        {% block content %}{% endblock %}

        <div class="container-fluid footer">
          <div class="row">
              <div class="col-lg-12 text-center">
                  {% if settings.social_media_settings.SocialMediaSettings.instagram %}
                      <a href="{{ settings.social_media_settings.SocialMediaSettings.instagram }}" target="_blank">
                          <i class="fab fa-instagram fa-2x"></i>
                      </a>
                  {% endif %}
                  &nbsp;&nbsp;
                  {% if settings.social_media_settings.SocialMediaSettings.facebook %}
                      <a href="{{ settings.social_media_settings.SocialMediaSettings.facebook }}" target="_blank">
                          <i class="fab fa-facebook-square fa-2x"></i>
                      </a>
                  {% endif %}
                  &nbsp;&nbsp;
                  {% if settings.social_media_settings.SocialMediaSettings.twitter %}
                      <a href="{{ settings.social_media_settings.SocialMediaSettings.twitter }}" target="_blank">
                          <i class="fab fa-twitter fa-2x"></i>
                      </a>
                  {% endif %}
                  &nbsp;&nbsp;
                  {% if settings.social_media_settings.SocialMediaSettings.youtube %}
                      <a href="{{ settings.social_media_settings.SocialMediaSettings.youtube }}" target="_blank">
                          <i class="fab fa-youtube fa-2x"></i>
                      </a>
                  {% endif %}
              </div>
          </div>
      </div>

        {# Global javascript #}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/bgsunscontent.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
