{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/leaguestats.css' %}">
{% endblock %}

{% block content %}

<div class="header">

    <h1 id="text">Dorset Basketball Div 2 2018/19 League Position Tracker</h1>
    Currently displaying&nbsp;<button class="weekbutton" id="weekBtn">-</button>&nbsp;Click to move forward.
</div>

<div class="container-fluid">
   
    <div class="row no-gutters">
      <div class="col-sm-1">
        <div id="team-selector" class="team-selector"></div>

<button id="SelectBtn" class="teamsbutton">Select Teams</button>
<p class="infotext">Press the Ctrl key (Windows) <br> Command (Mac) key to <br>select multiple players.(Max 5)</p>
      </div>
      <div class="col-sm-11">
        <div id="svgContainer" class="graph-container">
            <svg width="6250" height="530" class="graph"></svg>
        </div>
      </div>
    </div>
  </div>

<br>
<div class="userInstructions">
<p class="weeklyImprovement">Watch this space for weekly changes to team positions......</p>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="{% static 'js/leaguestats.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
{% endblock %}