{% extends "base.html" %}

{% load wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}

<div class="container mb-sm-5 mt-sm-5">
    <h2 class="text-center mb-sm-5" id="page-title">{{self.custom_title}}</h2>
    
        <div class="card-deck">
            {% for player in player_list %}
            {% image player.player_image fill-200x200 as img %}
            <div class="card text-white bg-secondary mb-3" style="min-width: 12rem; max-width: 12rem;">
                <img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" />
                <div class="card-body bg-secondary player-card">
                    <h5>{{ player.name }}</h5>
                    <p class="card-text">{{ player.nickname }}</p>
                    
                    <a href="{{ player.url }}" class="btn btn-primary">
                        Details
                    </a>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="btn btn-primary btn-sm" href="{% routablepageurl page 'scorerstats' %}" role="button">View Top Scorers</a>
</div>

    {% endblock content %} 