{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/player.css' %}">
{% endblock %}


{% load wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}

<!-- <div class="container mb-sm-5 mt-sm-5"> -->
<div class="container-fluid"
    style="background-image: linear-gradient( rgba(80,34,123,0.8), rgba(80,34,123,0.8)), url('{% static 'images/brown-basketball-on-grey-floor.jpg' %}'); background-size:cover; color: #fff; height: 95vh; ">
    
    <h2 class="text-center mb-sm-5" id="page-title">{{self.custom_title}}</h2>
    
        <div class="card-deck">
            {% for player in player_list %}
            {% image player.player_image fill-200x200 as img %}
            <div class="card text-white bg-secondary mb-3" style="min-width: 12rem; max-width: 12rem;">
                <img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" />
                <div class="card-body bg-secondary player-card">
                    <h5>{{ player.name }}</h5>
                    <p class="card-text">{{ player.nickname }}</p>
                    
                    <a href="{{ player.url }}" class="btn btn-primary">
                        Details
                    </a>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <div class="top-scorers-button">
                    <a class="btn btn-primary btn-sm" href="{% routablepageurl page 'scorerstats' %}" role="button">View Top Scorers</a>
                </div>
            </div>
        </div>
<!-- </div> This div is closed out in base.html ( See Close container div) -->


    {% endblock content %} 