@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(36, 35, 41);
    font-size: 16px;
    color: #fff;
  }


.home-container {
    background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('{{ img.url }}'); 
    background-size:cover; 
    color: #fff;
    height: 85vh;
}

.collapse {
    z-index:2;
    text-align:center;
    position: relative;
    left: -20px;
}


.nav-link:hover {
    color:rgb(33, 31, 34) !important;
}

.navbar-nav{
    width: 100vw;

}


.bg-primary{
    background-color: rgb(223,105,26) !important;
}
#borderforcontainer{
    /* border: 3px solid rgb(223,105,26); */
    border: 2px solid rgb(144, 26, 223);
}
.navbar {
    height: 7vh;
    background-color: rgb(223,105,26) !important;
}


/* CSS section for Horizontal Photo Gallery */
.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group > .row > .col-sm-4 {
    display: inline-block;
    float: none;
  }
  
  /* Decorations */
  .col-sm-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
  .col-sm-4:nth-child(2n+1) { background: linear-gradient(to bottom right,rgb(80,34,123), black) }
  .col-sm-4:nth-child(2n+2) { background: linear-gradient(to bottom right, rgb(80,34,123), black) }
  /* .col-sm-4:nth-child(3n+3) { background: #000; } */

/* Photo Gallery CSS section end */

.footer {
    height: 10vh;
    padding-top: 30px;
    background-color: rgb(36, 35, 41);

}

.fab{
    color: rgb(223,105,26) !important;

}

.fab:hover{
    color: rgb(202, 89, 14)!important;
    text-decoration: none !important;

}
.carousel-inner{
    width:100%;
    max-height: 450px !important;
  }

#bglogo {
    position: fixed;
    top:5px;
    left: 5px;
    z-index:3;
    height:107px;
    width:102px;
}  

#headline {
    margin-top: 10%;
}

.center{
    text-align: center;
}



.btn {
    margin-top: 5px;
    background-color: rgb(223,105,26) !important;
    border: none;
}

.btn:hover{
    background-color: rgb(202, 89, 14) !important;
    cursor: pointer;
}

.article{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    height: 70vh;
    top: 100px;
    right: 15px;
    /* padding: 25px; */
    padding-left: 30px;
    padding-right: 30px;
}

#news-heading{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;

}

.news-headline {
    font-size: 1rem;
    font-weight: 800;
}

.story {
    font-size: 0.5rem;
    font-weight: 500;
}

hr {
    color: white;
    background-color: rgb(223,105,26);
}

.align {
    margin-left: 4%;
}

.btn-primary {
    margin-bottom: 5%;
}


.card-deck{
      width: 100vw;
      margin: 0 auto;
  }



.redcard:hover{
    border: 2px red solid; 
}

.card{
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0 auto; 
    float: none; 
}

.player-name{
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
    font-style: normal;
    color: darkgrey
}

.player-role{
    font-size: 16px;
    font-style: oblique;
    color: grey;
}

.card-text{
    font-size: 12px;
    color: darkgrey
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
}

/* .containerx {
    width: 1200px;
    min-height: 500px;
    background: #ff00ff;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

} */

.containerx .box {
    position: relative;
    width: 350px;
    height: 350px;
    /* background: #ffff00; */
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;

}

.containerx .box .imgBox {
    position: relative;
    overflow: hidden;
}

.containerx .box .imgBox img {
    max-width: 100%;
    transition: transform 2s;
}

.containerx .box:hover .imgBox img {
    transform: scale(1.2);
}

.containerx .box .details {
    position: absolute;
    top:5px;
    left:5px;
    bottom:5px;
    right:5px;
    background:rgba(0,0,0,.7);
    transform: scaleY(0);
    transition: transform 1s;

}

.containerx .box:hover .details {
    transform: scaleY(1);
}

.containerx .box .details .content {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 60px;
    color: #fff;
}

.containerx .box .details .content h2 {
    margin:0;
    padding: 0;
    font-size: 24px;
    font-weight: 800;
    /* color:#ff0; */
    color:rgb(144, 26, 223);
}

.containerx .box .details .content h5 {
    margin:0;
    padding: 0;
    font-size: 20px;
    color:#fff;
}

#page-title {
    margin-top: 30px;
}

.player-card {
    background: linear-gradient(to bottom right,rgb(80,34,123), black) !important;
    color:#fff;
}

a:hover {
    text-decoration: none;
}

/* Image popup code below  */

#caption{
    position:absolute;
    bottom:10px;
    left:10px;
    font-size: 20px;
    color: white;
    /* z-index: 1000; */
}

.popup{
    width: 900px;
    margin: auto;
    text-align: center
}
.popup img{
    /* width: 200px; */
    /* height: 200px; */
    cursor: pointer
}
.show{
    z-index: 999;
    display: none;
}
.show .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}
.show .img-show{
    width: 600px;
    height: 400px; 
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden
}
.img-show span{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}
.img-show img{
    width: 600px;
    height: auto;
    border-style:solid;
    position: absolute;
    top: 0;
    left: 0;
}



/*End style*/

/* media queries */

@media screen and (min-width: 1171px) {

}
  
  
  
  @media screen and (min-width: 769px) and (max-width: 1170px) {
  
 }
  
  
  
  @media screen and (max-width: 768px) {
  
 }
  
  
  
  @media screen and (max-width: 500px) {
  

    body {
        
    }
}