/* Styles for Carousel */
#borderforcarousel{
    /* border: 3px solid rgb(223,105,26); */
    border: 2px solid #fff;
}

.carousel-inner{
    width:100%;
    max-height: 450px !important;
}

/* News Section Styles */
.article{
    /* font-family: 'Montserrat', sans-serif; */
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    height: 540px;
    top: 100px;
    right: 15px;
    /* padding: 25px; */
    padding-left: 30px;
    padding-right: 30px;
}

#news-heading{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.5px;
}


.news-item h4 {
    font-size: 1.2rem;
    font-weight: 400;
    /* letter-spacing: 1.1px; */
    margin-bottom:5px;
    
}

.news-item p {
    font-size: 1rem;
    font-weight: 300;
    max-width: 50ch;
    margin-top:0px;
    margin-bottom: 0px;
    color: whitesmoke;
}

/* Home Page Main Text Styles */

.headline h1 {
    margin-top: 35px;
    font-weight: 600;
}

.headline p {
    color:whitesmoke;
    margin-top: 5px;
}

 /* Links on news items */
a {
    color: rgb(202, 89, 14);
    font-weight: 400;
}

a:hover {
    color:rgb(223,105,26);
}

/* Basketball Icon on new items */

.fas{
    color: rgb(223,105,26) !important;

}
