/* Player Card Styles */
.card-deck{
    width: 97vw;
    margin: 0 auto;
}

.redcard:hover{
  border: 2px red solid; 
}

.card{
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 0 auto; 
  float: none; 
}

.card-deck{
  margin: 0 auto;
}


.bg-secondary {
  background-color: transparent !important;
  border: none;
}

.player-name{
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
  font-style: normal;
  color: darkgrey
}

.player-role{
  font-size: 16px;
  font-style: oblique;
  color: grey;
}

.card-text{
  font-size: 12px;
  color: darkgrey
}

.player-card {
  background: linear-gradient(to bottom right,rgb(39, 39, 39), black) !important; 
  /* background: rgb(22,22,22) !important; */
  color:#fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


/* Player Detail Styles */

.containerx .box {
  position: relative;
  width: 350px;
  height: 350px;
  /* background: #ffff00; */
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;

}

.containerx .box .imgBox {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.containerx .box .imgBox img {
  max-width: 100%;
  transition: transform 2s;
}

.containerx .box:hover .imgBox img {
  transform: scale(1.2);
}

.containerx .box .details {
  position: absolute;
  top:5px;
  left:5px;
  bottom:5px;
  right:5px;
  background:rgba(0,0,0,.7);
  transform: scaleY(0);
  transition: transform 1s;

}

.containerx .box:hover .details {
  transform: scaleY(1);
  border-radius: 5px;
}

.containerx .box .details .content {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 60px;
  color: #fff;
  
}

.containerx .box .details .content h2 {
  margin:0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  /* color:#ff0; */
  color:rgb(223,105,26);
}


.containerx .box .details .content h5 {
  margin:0;
  padding: 0;
  font-size: 16px;
  color:#fff;
}
